# Exercise 1
 <p><div class="lev1"><a href="#Task-A.-Another-LEGO-brick-in-the-wall"><span class="toc-item-num">Task A.&nbsp;&nbsp;</span>Another LEGO brick in the wall</a></div>
 <p><div class="lev1"><a href="#Task-B.-Drop-the-Bike"><span class="toc-item-num">Task B.&nbsp;&nbsp;</span>Drop the Bike</a></div>

In [8]:
# Add your imports here
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [1]:
DATA_FOLDER = 'data'

## Task A. Another LEGO brick in the wall

LEGO is a popular brand of toy building bricks. They are often sold in sets in order to build a specific object. Each set contains a number of parts in different shapes, sizes and colors. This database contains information on which parts are included in different LEGO sets. It was originally compiled to help people who owned some LEGO sets already figure out what other sets they could build with the pieces they had.

This dataset contains the official LEGO colors, parts, inventories (i.e., sets of LEGO parts which assembled create an object in the LEGO world) and sets (i.e., sets of LEGO inventories which assembled create a LEGO ecosystem). The schema of the dataset can be shown in the following UML diagram: 

![lego-schema](lego-schema.png)

In this task you have to apply the following Data Wrangling pipeline:
1. Load your data into `Pandas`
* Explore it and clean its dirty parts
* Use it to answer a set of queries

Each of these subtasks are described in detail below.

### A1. Loading phase
Load all the csv files into different `DataFrames`. Use meaningful names for your `DataFrames` (e.g., the respective filenames).

*Hint: You can load files without first unzipping them (for `Pandas` version >= 0.18.1).*

In [22]:
LEGO_DATA_FOLDER = DATA_FOLDER + '/lego'

'/colors.csv.zip'

In [143]:
# Write your code here
FrameColor=pd.read_csv(LEGO_DATA_FOLDER +"/colors.csv.zip")
FrameInventories=pd.read_csv(LEGO_DATA_FOLDER +"/inventories.csv.zip")
FrameInventoryParts=pd.read_csv(LEGO_DATA_FOLDER +"/inventory_parts.csv.zip")
FrameInventorySet=pd.read_csv(LEGO_DATA_FOLDER +"/inventory_sets.csv.zip")
FramePartCategories=pd.read_csv(LEGO_DATA_FOLDER +"/part_categories.csv.zip")
FrameParts=pd.read_csv(LEGO_DATA_FOLDER +"/parts.csv.zip")
FrameSets=pd.read_csv(LEGO_DATA_FOLDER +"/sets.csv.zip")
FrameThemes=pd.read_csv(LEGO_DATA_FOLDER +"/themes.csv.zip")

### A2. Cleaning phase
Explore the following columns from your dataset:

1. sets: year
* inventory_parts: quantity

What is the time range of the sets? 
What is the average quantity of the inventory parts? 
Do you see any inconsistencies? 
Provide code that detects and cleans such inconsistencies and validates the coherence of your dataset.

In [138]:
# Write your code here


FrameSets.year.unique()
#there are three inconsistencies to modify:
#number with s
#negative number
#number with 5 cifres instead of four

array(['70s', '1978', '1987', '1979', '19788', '1976', '1965', '1985',
       '1968', '1999', '1967', '1969', '2001', '20011', '1966', '2003',
       '2002', '20022', '-2003', '20033', '-2002', '20044', '2004',
       '2006', '20055', '2005', '-2004', '-2006', '-2010', '-2005',
       '20066', '2007', '20077', '2008', '20088', '-2009', '2009',
       '20099', '2010', '20100', '-2011', '2011', '20111', '2012',
       '20122', '-2013', '2013', '20133', '20144', '-20144', '2015',
       '2014', '-2014', '20155', '-2015', '2016', '20166', '-2016',
       '2017', '1977', '1983', '1986', '1984', '1973', '-2012', '-20155',
       '1981', '-2000', '80s', '1982', '1988', '20177', '-2017', '-1999',
       '19999', '-1986', '1997', '1998', '1971', '-1966', '-1977',
       '-1981', '-1985', '20000', '2000', '-20000', '1955', '1956',
       '1957', '-1982', '-1969', '19822', '19555', '1958', '-2001',
       '1974', '1972', '19988', '-1998', '19877', '19855', '19777',
       '1975', '-1987', '-1979', '1992', '1991', '-1991', '1989', '1990',
       '1993', '-1992', '-1989', '1994', '19944', '-1994', '1996',
       '19899', '19900', '19922', '1995', '-1995', '19966', '-1997',
       '19722', '19955', '19933', '1959', '1962', '-2008', '-20122',
       '1961', '19977', '1960', '1963', '1964', '19666', '-1975',
       '-20133', '-19999', '-20033', '-1973', '-1980', '-1984', '-1971',
       '-2007', '-20077', '-20166', '-20011', '-20022', '19799', '19911',
       '-20044', '19622', '-1962', '-19977', '19844', '-20099', '19866',
       '-1993', '-1996', '-1983', '-1988', '-20066', '19888', '1950',
       '1953', '1954', '19811', '19800', '19833', '-20100', '-20111',
       '19699'], dtype=object)

In [131]:
#first you should look better at your data !--> use function to show all the results

 #FrameSets.year.values<'0'
# FrameSets.year.values>'2018'#negative number

In [211]:
#len(FrameSets.year.values[0])<4
#(FrameSets.year.str.extract(r',expand=True)
#function extract
#s = pd.Series(['a12', 'b2', 'c3','22'])
#s
#s.str.extract(r'(\d)?(\d)')


#FrameSets.year.unique


a=FrameSets.year.str.extract(r'(\d)?(\d)?(\d)?(\d)',expand=False).dropna()
#it's a way to correct already--> the negative is not considered and for the number with more digit, the last never counts. 
#the year like 70s are completely dropped decreasing the length of the Frame.

#the result is a data frame that we need to change into a series
#FrameSets.year=pd.Series([''])
len(a.columns)
a.columns=['num1','num2','num3','num4']
FrameSets.year=a.num1+a.num2+a.num3+a.num4
FrameSets.dropna()

,id,name,year,theme_id,num_parts
1,0011-2,Town Mini-Figures,1978,84,12
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,2
3,0012-1,Space Mini-Figures,1979,143,12
4,0013-1,Space Mini-Figures,1979,143,12
5,0014-1,Space Mini-Figures,1979,143,12
6,0015-1,Space Mini-Figures,1979,143,18
7,0016-1,Castle Mini Figures,1978,186,15
8,00-2,Weetabix Promotional House 1,1976,413,147
9,00-3,Weetabix Promotional House 2,1976,413,149
10,00-4,Weetabix Promotional Windmill,1976,413,126
11,005-1,Basic Building Set in Cardboard,1965,366,35
12,00-6,Special Offer,1985,67,3
13,00-7,Weetabix Promotional Lego Village,1976,413,3
14,010-1,Basic Building Set in Cardboard,1965,366,57
15,010-3,Basic Building Set,1968,366,77
16,011-1,Basic Building Set,1968,366,145
17,022-1,Basic Building Set,1968,366,110
18,03093-1,The Race to Build It Board Game,1999,502,70
19,033-2,Basic Building Set,1968,366,177
20,044-1,Basic Building Set,1968,366,225
21,055-2,Basic Building Set,1968,366,256
22,066-1,Basic Building Set,1968,366,407
23,080-1,Basic Building Set with Train,1967,366,710
24,088-1,Super Set,1969,469,615
25,10000-1,Guarded Inn,2001,186,256
26,10001-1,Metroliner,2001,233,785
27,10002-1,Railroad Club Car,2001,233,272
28,10003-1,1 x 2 Sand Red Bricks,2001,254,100
29,10004-1,2 x 2 Sand Red Bricks,2001,254,100
30,10005-1,2 x 4 Sand Red Bricks,2001,254,50
...,...,...,...,...,...
11643,TRUXWINGTIE-1,"TRU X-Wing Fighter & TIE Fighter (May 3, 2014)",2014,170,2
11644,tsuper-1,Technic Super Set,1991,12,3
11645,Vancouver-1,"LEGO Store Grand Opening Exclusive Set, Oakrid...",2012,408,-1
11646,Victor-1,"LEGO Store Grand Opening Exclusive Set, Eastvi...",2012,408,15
11647,Vienna-1,"LEGO Store Grand Opening Exclusive Set, SCS, W...",2013,408,17
11648,VP-1,Ice Planet Co-Pack of 6814 6879 and 6898,1995,133,3
11649,VP-10,Star Wars Value Pack with Free LEGO Backpack (...,2003,170,4
11650,VP-11,Star Wars Co-Pack of 7101 7111 and 7131,2000,166,3
11651,VP-12,Star Wars Co-Pack of 7121 and 7151,2000,166,2
11652,VP-13,Launch Command Value Pack - (6336 6516 6614),1995,88,3
11653,VP-14,Classic Town Value Pack Duopack (6581 6596),1998,67,2
11654,VP-15,Adventurers Super Value Pack,2000,298,3
11655,VP-17,Legoland Town Special Offer,1985,67,0
11656,VP-2,Star Wars Co-Pack of 7110 and 7144,2001,169,2
11657,VP-3,Star Wars Co-Pack of 7131 and 7151,2000,166,2
11658,VP-4,Star Wars Co-Pack of 7101 7111 and 7171,2000,166,3
11659,VP-5,UFO Value Pack,1997,144,3
11660,VP-6,Building Bonanza Value Pack 4886 with 7280 & 7281,2006,52,3
11661,VP-7,Fire Value Pack (6554 6407 6564),1997,98,3
11662,VP-8,Star Wars Co-Pack of 7130 and 7150,2000,169,2
11663,VPorient-1,Orient Expedition Value Pack with LEGO Backpac...,2003,300,4
11664,vwkit-1,Volkswagen Kit,1959,366,22
11665,W098-1,"Watch Set, Classic Blue",2006,501,0
11666,W991526-1,Homeschool Introduction to Simple and Motorize...,2009,529,0
11667,Watford-1,"LEGO Store Grand Opening Exclusive Set, Watfor...",2013,408,15
11668,Wauwatosa-1,"LEGO Store Grand Opening Exclusive Set, Mayfai...",2012,408,15
11669,WHITEHOUSE-1,Micro White House,2015,598,59
11670,Wiesbaden-1,"LEGO Store Grand Opening Exclusive Set, Wiesba...",2010,408,146
11671,WishingWell-1,Wishing Well [Toys R Us Promo],2013,494,28
11672,wwgp1-1,Wild West Limited Edition Gift Pack,1996,476,3

In [285]:
valueHF=FrameInventoryParts['quantity'].replace([np.inf, -np.inf], np.nan).dropna().value_counts()
valueHF=valueHF.values[0]
FrameInventoryParts.quantity.replace({-math.inf:valueHF})

0              1.0
1              1.0
2              1.0
3              1.0
4              1.0
5              1.0
6              1.0
7              1.0
8              1.0
9         239479.0
10             1.0
11             4.0
12             1.0
13             1.0
14             1.0
15        239479.0
16             5.0
17             3.0
18             1.0
19             1.0
20             1.0
21             1.0
22             1.0
23             3.0
24        239479.0
25             1.0
26             1.0
27             1.0
28             1.0
29             4.0
            ...
580221         4.0
580222    239479.0
580223    239479.0
580224         1.0
580225         4.0
580226         8.0
580227         6.0
580228        10.0
580229         6.0
580230    239479.0
580231         4.0
580232         4.0
580233    239479.0
580234         8.0
580235         4.0
580236         1.0
580237         1.0
580238         1.0
580239         1.0
580240         1.0
580241         1.0
580242         1.0
580243         1.0
580244         1.0
580245         1.0
580246         3.0
580247         4.0
580248         4.0
580249         9.0
580250         5.0
Name: quantity, Length: 580251, dtype: float64

In [272]:
#here the value to delete is the infinitive-->replace with the one that 
#has the highest frequency to appear

__\* Briefly explain your approach here \*__

### A3. Querying phase
Answer the following queries using the functionality of `Pandas`:

1. List the ids of the inventories that belong to sets that contain cars. (*Hint: Find a smart way to distinguish which sets contain cars based on the sets' name*).
* Plot the distribution of part categories as a (horizontal) bar chart. Restrict yourself to the 20 largest part categories (in terms of the number of parts belonging to the category).
* Find the dominant color of each set. Then, plot using a (horizontal) bar chart, the number of sets per dominant color. Color each bar with the respective color that it represents.
* Create a scatter plot of the *luminance*\* of the sets vs their publishing year. What do you observe for the years 1980-1981? How do you interpret what you see?

\*The luminance of a color is a [measure of brightness](https://en.wikipedia.org/wiki/Luminance) which, given its RGB representation, can be computed as follows:

$luminance = \sqrt{0.299*R^2 + 0.587*G^2 + 0.114*B^2}$

In [288]:
# Write your code here
.head(20)

    id  version
0    1        1
1    3        1
2    4        1
3   15        1
4   16        1
5   17        1
6   19        1
7   21        1
8   22        1
9   25        1
10  26        1
11  27        1
12  28        1
13  29        1
14  30        1
15  31        1
16  32        1
17  33        1
18  34        1
19  35        1

In [286]:
FrameInventoryParts.head(20)

    inventory_id      part_id  color_id  quantity is_spare
0              1     48379c01        72  1.000000        f
1              1        48395         7  1.000000        f
2              1     mcsport6        25  1.000000        f
3              1       paddle         0  1.000000        f
4              3  11816pr0005        78  1.000000        f
5              3         2343        47  1.000000        f
6              3         3003        29  1.000000        f
7              3        30176         2  1.000000        f
8              3         3020        15  1.000000        f
9              3         3022        15      -inf        f
10             3         3023        15  1.000000        f
11             3        30357        29  4.000000        f
12             3         3039        15  1.000000        f
13             3        3062b        15  1.000000        f
14             3        3068b        29  1.000000        f
15             3        3069b        29      -inf        f
16             3        3069b        27  5.000000        f
17             3        33291       191  3.000000        f
18             3        33291       191  1.000000        t
19             3         3795        15  1.000000        f

__\* Briefly explain your approach for every query here \*__

## Task B. Drop the bike

*Los Angeles Metro* has been sharing publicly [anonymized *Metro Bike Share* trip data](https://bikeshare.metro.net/about/data/) under the [Open Database License (ODbL)](http://opendatacommons.org/licenses/odbl/1.0/).

In this task you will again perform data wrangling and interpretation.

### B1. Loading phase
Load the json file into a `DataFrame`.

In [7]:
BIKES_DATA_FOLDER = DATA_FOLDER + '/bikes'

In [8]:
# Write your code here

### B2. Cleaning phase
Describe the type and the value range of each attribute. Indicate and transform the attributes that are `Categorical`. Are there redundant columns in the dataset (i.e., are there columns whose value depends only on the value of another column)? What are the possible pitfalls of having such columns? Reduce *data redundancy* by extracting such columns to separate `DataFrames`. Which of the two formats (the initial one or the one with reduced data redundancy) is more susceptible to inconsistencies? At the end print for each `Dataframe` the *type of each column* and it's *shape*.

In [9]:
# Write your code here

__\* Briefly explain your approach here \*__

### B3. Querying phase
Answer the following queries using the functionality of `Pandas`.

1. Plot the *distribution* of the number of outgoing trips from each station in a histogram with 20 bins (Hint: each bin describes a range of counts, not stations).
* Plot histograms for the *duration* and *trip starting hour in the day* attributes. For both the *duration*  and the *trip starting hour* use *discrete 1-hour intervals*. What do you observe in each plot? What are some popular values in the *duration* plot? Explain the local maxima and the trends you observe on the *trip starting hour* plot based on human behavior.
* For each *trip route category*, calculate the proportion of trips by *passholder type* and present your results in *a stacked bar chart with normalized height*.
* Considering only trips that begin in the morning hours (before noon), plot in *a single bar chart* the proportion of trips by *passholder type* and *trip route category*. Explain any outliers you observe.
* Separate the hours of the day into two intervals that have (approximately) the same number of bikes leaving the stations. For each of the two intervals calculate the proportion of trips by *passholder type* and *trip route category*. Present your results in a `DataFrame` which has a unique, non-composite index. Does the proportion of trips depend on whether it is the first or second hour interval? Would the company have any significant benefit by creating a more complex paying scheme where monthly pass users would pay less in the first interval and (equally) more on the second one? Assume that the number of trips per interval will not change if the scheme changes.

In [10]:
# Write your code here

__\* Briefly explain your approach for every query here \*__